.form-control {
  border-radius: 2px;
  border-width: 2px;
  &.input-error {
    border: 2px solid red;
  }
}
.error {
  color: red;
  opacity: 0.6;
  font-size: 12px;
  margin: 0px;
  margin-top: 4px;
}
.form-label{
    font-size: 14px;
    font-weight: 600;
}
